*{
  margin: 0;
  padding: 0;
} 
 
 .navbar
{
    display:flex;
    overflow: hidden;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:center;
    align-items:center;
  }
  .button
  {
     
      
    background-color: black;
    color:white;
    width:auto;
    height:30px;
    border-radius: 4px;
    justify-self:right;
    margin-left: 20%;

  }
  .navbar-logo {
    margin-right: 60px; /* Push the logo to the left by using auto margin on the right */
  }
  .rigt{
    margin-right: auto; /* Push the button to the left by using auto margin on the right */
  }
   
  /* Navigation links */
  .navbar a {
     
    
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }  

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .left-image, .right-image {
    flex: 1;
    padding: 10px;
  }
  
  .content {
    flex: 1;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
 .content button {

   display: flex;
   place-items: center;
    padding: 10px 10px;
    background-color:black;
    color: #fff;
    border: none;
   
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
     
    
  }
  
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
  
    color:red;
  }

  /* Current page */
  .active {
    background-color:white;
    color: white;
  }
  .nft-bar
  {
    width: 100%;
  }
  .nft-bar img
  {
    width: 100%;
  }

  /* second page */



 .two-column-layout {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
   margin: 20px 10px;
  }
  
  .left-column {
    padding: 20px;  
  }
  
  .right-column {
 
}

.content-container {
  text-align: left;
  padding-left: 20px;
  
}

 
.right-column img {
  height: 500px;
  
}
.hr-lines{
  position: relative;
  /*  new lines  */
  max-width: 200px;
  margin: 100px auto;
  text-align: center;
  text-align: left;
  padding-left: 135px;
}
.hr-lines:before{
  content:" ";
  height: 2px;
  width: 130px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
   
}


/* third page collections  */
.collections
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px;


}
.column-container {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  width: 33.33%;
  padding: 1px;
  font-size: 20px;
  font-weight: bold;
}

.column-container-art {
  display: flex;
  flex-wrap: nowrap;
}

.column-2 {
  width: 33.33%;
  padding: -55px -55px;
  font-size: 10px;
   
}
 

.nft-eth{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;

  height: 100vh;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 0px solid white;
  align-items: center;
  text-align: center;

}
.my-button1, .my-button2
{
  color:black;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 5px;
}

.my-button2
{
  
}




